<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parfums Boisés</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>

    <header>
        <h1>ALYA - Parfumerie</h1>
        <nav>
            <a href="#">Notre Collection</a>
            <a href="#">La Fabrication</a>
            <a href="#">Notre Entreprise</a>
            <a href="#">Contact</a>
            <a href="#" class="btn-accueil">Accueil</a>
        </nav>
    </header>

    <div class="category-nav">
        <a href="template\fruites.html">Parfums Fruités</a>
        <a href="template\floraux.html">Parfums Floraux</a>
        <a href="template\boises.html">Parfums Boisés</a>
        <a href="template\sucres.html">Parfums Sucrés</a>
    </div>

    <div class="title-section">Parfums Boisé</div>

    <div class="product-grid">

        <div class="product-card">
            <img src="#" alt="#">
            <div class="product-name"> Santal Secret</div>
            <div class="product-price">35 €</div>
            <div class="product-description">À base de santal</div>
        </div>
        
        <div class="product-card">
            <img src="#" alt="#">
            <div class="product-name">Pamplemousse Zesté</div>
            <div class="product-price">30 €</div>
            <div class="product-description">À base de pamplemousse</div>
        </div>

        <div class="product-card">
            <img src="#" alt="#">
            <div class="product-name">Pamplemousse Zesté</div>
            <div class="product-price">30 €</div>
            <div class="product-description">À base de pamplemousse</div>
        </div>
    </div>

</body>
</html>