<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre Collection</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>

    <h1>Découvrez Nos Parfums</h1>
    <p>
        Chaque parfum a sa personnalité. </br> 
        Nos Parfums Fruitéssont frais et vivifiants, parfaits pour un souffle de légèreté.</br>
        Les Parfums Floraux apportent une touche élégante et discrète.</br>
        Si vous aimez les notes profondes, nos Parfums Boisés vous plairont avec leurs arômes authentiques.</br>
        Pour une touche de douceur, essayez les Parfums Sucrés. Découvrez-les et trouvez celui qui vous parle le plus.</br>
    </p>
    
    
    <div class="menu">
        <div class="dropdown">
            <button>Nos Collections</button>
            <div class="dropdown-content">
                <a href="template\fruités.html">Parfums Fruités</a>
                <a href="template\floraux.html">Parfums Floraux</a>
                <a href="template\boisé.html">Parfums Boisé</a>
                <a href="template\sucré.html">Parfums Sucré</a>
            </div>
        </div>
    </div>

</body>
</html>
