<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parfums Floraux</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>

    <header>
        <h1>ALYA - Parfumerie</h1>
        <nav>
            <a href="#">Notre Collection</a>
            <a href="#">La Fabrication</a>
            <a href="#">Notre Entreprise</a>
            <a href="#">Contact</a>
            <a href="#" class="btn-accueil">Accueil</a>
        </nav>
    </header>

    <div class="category-nav">
        <a href="template/fruites.html">Parfums Fruités</a>
        <a href="template/floraux.html">Parfums Floraux</a>
        <a href="template/boises.html">Parfums Boisés</a>
        <a href="template/sucres.html">Parfums Sucrés</a>
    </div>

    <div class="title-section">Parfums Floraux</div>

    <div class="product-grid">

        <div class="product-card">
            <img src="#" alt="#">
            <div class="product-name"> Rosée de Rose</div>
            <div class="product-price">34 €</div>
            <div class="product-description">À base de rose</div>
        </div>
        
        <div class="product-card">
            <img src="#" alt="#">
            <div class="product-name"> Lavande Sérénité</div>
            <div class="product-price">30 €</div>
            <div class="product-description">À base de lavande</div>
        </div>

        <div class="product-card">
            <img src="#" alt="#">
            <div class="product-name">Jasmin Envoûtant</div>
            <div class="product-price">32 €</div>
            <div class="product-description">À base de jasmin</div>
        </div>

    </div>

</body>
</html>