<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALYA - Parfumerie</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>

    <header>
    </header>
    
    <h2 class="slogan">Chez ALYA notre objectif est simple : rendre la beauté accessible à tous.</h2>

    <a class="Bouton" href="template\fabrication.html"> Notre Boutique </a>
    
    <div class="image accueille">
        <img src="static\image\flacon1.jpg" />
        <img src="static\image\flacon6.jpg" />
    </div>
    
    <div>
        <p>
            Comme chaque fleur attend de s'épanouir, chacun de nous porte en soi la promesse d'un éclat unique.</br>
            Notre gamme est là pour vous accompagner dans cette floraison.
        </p>
    </div>

    <section class="Valeurs">
        <h2>Nos Valeurs</h2>
        <p>Chez Alya, nous embellissons les personnes tout en respectant l'environnement. </br>

            Nos parfums naturels, fabriqués avec soin à partir de matières premières de qualité, 
            incarnent notre engagement pour une production durable et accessible à tous, avec des prix accessible.</br>
            
            Nous sommes toujours disponibles pour nos clients, renforçant une relation de confiance basée sur la proximité et l'authenticité.</br>
        </p>
    </section>

    <footer class="footer">
        <p>&copy; 2023 ALYA Parfumerie. Tous droits réservés.</p>
    </footer>

</body>
</html>
