@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Faculty Glyphic", serif;
  font-weight: bold;
  background-color: transparent;
  color: black;
  font-size: 16px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  visibility: hidden;
}

body.translated {
  visibility: visible;
  background-color: gray;
}

header {
  display: flex;
  justify-content: space-around ;
  align-items: center;
  background-color: white;
  padding: 20px;
  color: black;
  height: 70px;
}

.logo-text {
  color: #D1C176;
  font-size: 24px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav ul li {
  margin: 0 5px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

.nav-item a:hover {
  color: #636363;
}

.nav-pressed a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding: 10px;
  color: #D1C176;
}

.nav-pressed a:hover {
  color: #B3A155;
}

#home {
  padding-left: 10px;
}

#home a{
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #D1C176;
}

#home a:hover{
  background-color: #B3A155;
}

.language {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.language-text {
  font-size: 16px;
  color: black;
  margin-right: 5px;
}

.language-icon {
  width: 20px;
  height: 20px;
}

.language:hover .language-text {
  color: #636363;
  cursor: pointer;
}

.language:hover .language-icon {
  filter: grayscale(100%) brightness(0) invert(31%) sepia(0%) saturate(0%) hue-rotate(90deg) contrast(100%);
}

.language-dropdown {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  width: 250px;
  z-index: 100;
}

.language-dropdown ul {
  text-align: center;
}

.language-dropdown ul li {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;

}

.language-dropdown ul li:hover {
  background-color: #f1f1f1;
}

.shopping-cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shopping-cart-icon {
  width: 30px;
  height: 30px;
}

.shopping-cart:hover .shopping-cart-icon {
  filter: grayscale(100%) brightness(0) invert(31%) sepia(0%) saturate(0%) hue-rotate(90deg) contrast(100%);
}