@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Faculty Glyphic", serif;
  font-weight: bold;
  background-color: transparent;
  color: black;
  font-size: 16px;
  overflow: hidden;
  -webkit-touch-callout: none;
}

body {
  visibility: hidden;
  height: 100vh;
  overflow-y: auto;
}

body.translated {
  visibility: visible;
}

/****************************** Header ******************************/
header {
  display: flex;
  justify-content: space-around ;
  align-items: center;
  background-color: #F7F7F7;
  padding: 20px;
  color: black;
  height: 70px;
  border-bottom: 1px solid #DFDFDF;
}

header a {
  text-decoration: none;
}

.logo-text {
  color: #D1C176;
  font-size: 24px;
  user-select: none;
  padding: 10px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav ul li {
  margin: 0 5px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

.nav-item a:hover {
  color: #636363;
}

.nav-pressed a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding: 10px;
  color: #D1C176;
}

.nav-pressed a:hover {
  color: #B3A155;
}

#home {
  padding-left: 10px;
}

#home a{
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #D1C176;
}

#home a:hover{
  background-color: #B3A155;
}

.language {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.language-text {
  font-size: 16px;
  color: black;
  margin-right: 5px;
}

.language-icon {
  width: 21px;
  height: 21px;
}

.language:hover .language-text {
  color: #636363;
  cursor: pointer;
}

.language:hover .language-icon {
  filter: grayscale(100%) brightness(0) invert(31%) sepia(0%) saturate(0%) hue-rotate(90deg) contrast(100%);
}

.shopping-cart {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  user-select: none;
}

.shopping-cart-icon {
  width: 25px;
  height: 25px;
}

.shopping-cart:hover .shopping-cart-icon {
  filter: grayscale(100%) brightness(0) invert(31%) sepia(0%) saturate(0%) hue-rotate(90deg) contrast(100%);
}

.account a{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  margin-left: 4px;
  user-select: none;
}

.account-icon {
  width: 25px;
  height: 25px;
}

.account:hover .account-icon {
  filter: grayscale(100%) brightness(0) invert(31%) sepia(0%) saturate(0%) hue-rotate(90deg) contrast(100%);
}

/****************************** Footer ******************************/

footer {
  text-align: center;
  padding: 14px;
  margin-top: 30px;
  background-color: #F7F7F7;
  font-size: 14px;
  border-top: 1px solid #DFDFDF;
}

/****************************** Language ******************************/

.language-dropdown {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 250px;
  z-index: 100;
}

.language-dropdown ul {
  text-align: center;
}

.language-dropdown ul li {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;

}

.language-dropdown ul li:hover {
  background-color: #f1f1f1;
}

/****************************** Login / Register ******************************/

.account-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  height: auto;
  text-align: center;
  border: 2px solid #DFDFDF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-container div{
  width: 400px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #DFDFDF;
  border-radius: 5px;
}

.input-group input:focus {
  border-color: #4CAF50;
}

.login-btn {
  display: block;
  padding: 10px;
  width: 100%;
  background-color: #D1C176;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #B3A155;
}

.create-account {
  margin-top: 20px;
}

.create-account a {
  text-decoration: none;
}

.create-account a:hover {
  color: #636363;
}

.gender-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gender-group label {
  display: flex;
  align-items: center;
}

.gender-group input[type="radio"] {
  margin-right: 10px;
  appearance: none;
  border: 2px solid #DFDFDF;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.gender-group input[type="radio"]:checked {
  background-color: white;
}

.gender-group input[type="radio"]:not(:checked):hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background-color: #DFDFDF;
  transform: translate(-50%, -50%);
}

.gender-group input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background-color: #D1C176;
  transform: translate(-50%, -50%);
}

.gender-group span {
  font-size: 16px;
}

.input-group input:focus {
  border-color: #707070;
}

.input-group input.invalid:focus {
  border-color: #FF0000;
}

.input-group input.invalid {
  border-color: #FF0000;
}

.input-group input.valid {
  border-color: #4CAF50;
}

.error-message {
  color: #FF0000;
  font-size: 12px;
  display: none;
}

.input-group input.invalid + .error-message {
  display: block;
}

#login-error-message.error-message-global {
  color: red;
  margin-bottom: 200px;
}

#login-message-error {
  margin-bottom: 15px;
  display: none;
}

/****************************** All page ******************************/

main {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 8px;
  border: 1px solid #DFDFDF;
  padding: 20px;
  background-color: #F7F7F7;
}

.title {
  font-family: "PT Serif", serif;
  font-style: italic;
}

h1 {
  font-family: 'Cursive', sans-serif;
  font-size: 28px;
  color: #000;
  margin-bottom: 20px;
}

.images-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.images-section img {
  width: auto;
  height: auto;
  border-radius: 8px;
}

.left-image, .right-image {
  display: inline-block;
}

.caption {
  font-size: 14px;
  color: #888;
  font-family: "PT Serif", serif;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 40px;
}

.container h3 {
  font-size: 20px;
  color: #D1C176;
  margin-bottom: 15px;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container li {
  margin-bottom: 10px;
}

.container a {
  color: #D1C176;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.map-container {
  margin-top: 20px;
}

.map-container iframe {
  border-radius: 10px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 150px;
}

.chart {
  text-align: center;
  margin-bottom: 20px;
}

.chart img {
  max-width: 600px;
}

.section h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.section p {
  text-align: center;
  margin-bottom: 10px;
}

.partner-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.partner-logos div {
  text-align: center;
  width: 25%;
}

.partner-logos img {
  max-width: 200px;
}

/****************************** Index ******************************/

.center-container {
  display: flex;
  justify-content: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  max-width: 1600px;
  width: 100%;
}

.product {
  width: 450px;
  height: 400px;
  background-color: #F7F7F7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  border: 2px solid #DFDFDF;
  border-radius: 8px;
}

.product img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.product h2, .product p {
  margin: 20px 0;
}

.product h2 {
  font-weight: bold;
  margin: 5px;
}

.product p {
  color: #333;
  margin: 5px;
  margin-top: 0px;
}

.product div {
  color: #426B1F;
  margin: 5px;
  margin-top: 0px;
}